.signin {
    color: rgb(255, 255, 255);
}

.member {
    color: rgb(255, 255, 255);
}

.image img{
  max-width: 450px;
  display: inline-block;
}
.signin p {
  padding: 20px;
}

.nft {
  padding: 20px;
  display: inline;
  position: relative;
  overflow: scroll;
  max-height: 400px;
  width: 100%;
}

.welcome{
  padding: 20px;
}


.signin button {

  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signin button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.signin button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.signin button a {
  color: aliceblue;
  text-decoration: none;
  
}

.widget {
  padding: 20px;
  padding-left: 40px;
  align-items: center;
  display: flex;

  

}

.discord {
width: 100%;
}

.addy {
  width: 100%;
  
}

.scheduleheader {
  width: 100%;
}

.events {
  width: 100%;
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  margin: auto;
  padding: 1rem;
}

.shape{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 200px;
  max-width: 450px;
  display: inline;
  
}

@media (max-width: 700px) {
  .spatial {
    display: none;

  }

  .image img {
    max-width: 300px;

  }

  

  
}
.connect {
  max-width: 200px;
  display: inline-block;
}
.motm {
  max-width: 450px;
  display: inline-flex;
  height: 450px;
}

.font-link {
  font-family: 'Raleway', sans-serif;

}