.marketplace {
    color:rgb(0, 0, 0);
   

    
}

.bodega {
  align-items: center;
}

.art {
  display: flex;
}


.dropdownmenu{
  align-items: center;
  display:grid;
  justify-content: center;
  color: rgb(0, 0, 0);
  padding-left: 50px;
}

.marketplaceList {
    display: flex;
    overflow: scroll;
    margin-top: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark-background);
    justify-content: space-between;
    color: transparent;
    
  }
  
  .marketplaceList::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 700px) {
    .art {
      max-width: 350px;
    }
  }